.content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

 
.main{
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main image{
   margin-top: 20upx;
   height: 950upx;
}

